.pinnedCityCard, .addPinnedCityCard {
  background-color: #fff;
  border: 1px solid black;
  height: 350px;
  width: 250px;
}

.dashboardWrapper {
  display: block;
}

.editPinnedCities {
  margin-right: 5em;
  text-align: right;
}
