.cards {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.cityName {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 1em;
}

.addPinnedCityCard {
  align-items: center;
  display: flex;
  justify-content: center;
}

.detailForecastWrapper {
  text-align: center;
}
