.pinnedCityCard, .addPinnedCityCard {
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
}

.editPinnedCities {
  text-align: center;
}
