.header {
  background-color: #1F4E5F;
  display: flex;
  height: 100px;
  margin-bottom: 1em;
  position: relative;
  ul li {
    margin-bottom: 5px;
  }
}

.loadingMessage {
  padding: 0 2em 0;
}

.currentForecast {
  color: #fff;
}

.currentWeatherDetail {
  color: #fff;
  position: absolute;
  right: 35px;
}

header h1 {
  font-size: 3em;
  margin-left: .3em;
}
