.header {
  background-color: #1F4E5F;
  display: flex;
  height: 75px;
  margin-bottom: 1em;
}

.currentForecast {
  color: #fff;
  padding: 0 1em 0;
}

.currentWeatherDetail {
  color: #fff;
}

header h1 {
  margin-left: .3em;
  font-size: 3em;
}
