.pinnedCities {
  margin-left: 3em;
  ul li {
    margin-top: 1em;
  }
}

input[type=submit] {
  font-size: 16px;
  margin-left: 0.5em;
  padding: 10px;
}

.zipInput {
  font-size: 16px;
  padding: 10px;
}

article.pinnedCityCard {
  display: inline-block;
  text-align: center;
  margin: 15px 15px 0 0;
}
