.pinnedCities {
  margin-left: 3em;
  ul li {
    margin-top: 1em;
  }
}

input[type=submit] {
  font-size: 16px;
  padding: 10px;
  margin-left: 0.5em;
}

.zipInput {
  font-size: 16px;
  padding: 10px;
}
