@import url('https://fonts.googleapis.com/css?family=Lato');
@import '_variables.scss';
@import '_header.scss';
@import'_dashboard.scss';
@import '_dashboard-cards.scss';
@import '_detailed-city.scss';
@import '_pinned-cities.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: #79A8A9;
  font-family: $font-lora;
}

a {
  color: #1F4E5F;
  text-decoration: none;
}

ul {
  text-align: left;
  list-style: none;
}

@media screen and (max-width: 800) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .editPinnedCities {
    text-align: center;
  }
}
