@import '_variables.scss';
@import '_header.scss';
@import'_dashboard.scss';
@import '_pinned-cities.scss';
@import '_detailed-city.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-background-color;
}

a {
  color: magenta;
  text-decoration: none;
}
